.sidebar {
    &.sticky {
        @include respond(md) {
            position: sticky;
        }
    }
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;
    gap: var(--sidebar-element-separation);
    max-width: none;
    width: 100%;
    position: relative;

    --sidebar-avatar-size: 100px;
    --sidebar-element-separation: 20px;
    --emoji-size: 40px;
    --emoji-font-size: 20px;

    @include respond(md) {
        width: auto;
        padding-top: var(--main-top-padding);
        padding-bottom: var(--main-top-padding);
        max-height: 100vh;
    }

    @include respond(2xl) {
        --sidebar-avatar-size: 120px;
        --sidebar-element-separation: 25px;
        --emoji-size: 40px;
    }

    &.sticky {
        top: 0;
    }

    &.compact {
        --sidebar-avatar-size: 80px;
        --emoji-size: 30px;
        --emoji-font-size: 15px;

        header {
            @include respond(lg) {
                flex-direction: row;
            }

            .site-meta {
                gap: 5px;
            }

            .site-name {
                font-size: 1.4rem;

                @include respond(2xl) {
                    font-size: 1.75rem;
                }
            }

            .site-description, .contact-info {
                font-size: 1.4rem;
            }
        }
    }
}

.right-sidebar {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: var(--widget-separation);

    &.sticky {
        top: 0;
    }

    @include respond(lg) {
        padding-top: var(--main-top-padding);
        padding-bottom: var(--main-top-padding);
    }
}

.sidebar header {
    z-index: 1;
    transition: box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-element-separation);

    @include respond(md) {
        padding: 0;
    }

    .site-avatar {
        position: relative;
        margin: 0;
        width: var(--sidebar-avatar-size);
        height: var(--sidebar-avatar-size);
        flex-shrink: 0;

        .site-logo {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: var(--shadow-l1);
        }

        .emoji {
            position: absolute;
            width: var(--emoji-size);
            height: var(--emoji-size);
            border-radius: 100%;
            bottom: 0;
            right: 0;
            background-color: var(--card-background);
            box-shadow: var(--shadow-l2);
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &::before {
                content: '';
                width: 100%; // Adjust the size as needed
                height: 100%; // Adjust the size as needed
                background-image: inherit;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .site-meta {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .site-name {
        color: var(--accent-color);
        margin: 0;
        font-size: 1.6rem;

        @include respond(2xl) {
            font-size: 1.8rem;
        }
    }

    .site-description, .contact-info {
        color: var(--body-text-color);
        font-weight: normal;
        margin: 0;
        font-size: 1.4rem;

        @include respond(2xl) {
            font-size: 1.6rem;
        }
    }
}

[data-scheme="dark"] {
    #dark-mode-toggle {
        color: var(--accent-color);
        font-weight: 700;

        .icon-tabler-toggle-left {
            display: none;
        }

        .icon-tabler-toggle-right {
            display: unset;
        }
    }
}

#dark-mode-toggle {
    margin-top: auto;
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: var(--menu-icon-separation);

    .icon-tabler-toggle-right {
        display: none;
    }
}

#i18n-switch {
    color: var(--body-text-color);
    display: inline-flex;
    align-content: center;
    gap: var(--menu-icon-separation);

    select {
        border: 0;
        background-color: transparent;
        color: var(--body-text-color);

        option {
            color: var(--card-text-color-main);
            background-color: var(--card-background);
        }
    }
}
.apple-style-plate-wrapper {
    width: 100%;
    padding: 0 !important;
    margin-top: 20px;

}

.apple-style-plate {
    background-color: #000;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    margin: 0.2em 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    gap: 0;
    border: 1px solid #fff;
    // outline: 2px solid #000;
    // margin-left: 2px;

    &:hover {
        background-color: #fff;
    }
}

.apple-style-plate::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    border-radius: 14px;
    z-index: -1;
    transition: background-color 0.3s ease;
}

.apple-style-plate::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-color: #000;
    border-radius: 15px;
    z-index: -2;
}

.apple-style-plate:hover::before {
    background-color: #000;
}

.plate-icon {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 8px;
    display: block;
}

.plate-text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.apple-style-plate:hover .plate-text {
    color: #000;
}