{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <div class="hero-section">
        <h1>1AR LABS</h1>
        <p>
            Elevate your innovation with rigorous, evidence-based analysis and tailored prototypes. <br>
            We provide clear, actionable insights that empower you to outpace the competition.
        </p>
        <header class="cta">
            <a href="/labs" class="cta-button">Discover Your Edge →</a>
        </header>
    </div>

    <section class="article-list--compact">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}